{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

    {% block extra_style %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
    {% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{%  trans 'Comerciales realizados' %}</h2>
    </div>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#" id="hide-show-search">Mostrar / Ocultar</a>
      </li>
    </ul>
    <div id="search-form">
	<form method="get" action="" class="form-horizontal well well-small search-form">
        <div class="row-fluid">
            {% crispy search_form %}
            <div class="form-actions">
            	<input type="submit" class="btn" value="{% trans 'Search' %}">
            </div>
        </div>
    </form>
    </div>

    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Modelo' %}</th>
                    <th>{% trans 'rubro' %}</th>
                    <th>{% trans 'marca' %}</th>
                    <th>{% trans 'comercial' %}</th>
                    <th>{% trans 'Realizado' %}</th>
                    <th>{% trans 'Opciones' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for model_commercial in search_commercial_realized %}
                <tr>
                    <td>{{ model_commercial.model.get_data_api_json.modelo }}</td>
                    <td>{{ model_commercial.commercial.brand.entry }}</td>
                    <td>{{ model_commercial.commercial.brand }}</td>
                    <td>{{ model_commercial.commercial }}</td>
                    <td>{{ model_commercial.commercial.realized |date:"d / M / Y" }}</td>
                    <td><a target="_blank" href="http://192.168.1.3/sistemas/proyspiral/produccion/index.php?G_OpcS=3&cod={{ model_commercial.model.model_code }}">{% trans 'Detalles' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% url 'search_commercial_realized' as page_url %}
        {% pagination_ctl page_obj url=page_url url_args=search_url_params %}
    </div>
{% endblock %}
{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>
    <script>
        url_brand_by_entry = '{% url 'brand_by_entry_json' entry=0 %}'
        url_commercial_by_brand = '{% url 'commercial_by_brand_json' brand=0 %}'

        $(document).on('ready',function(){
            $('#hide-show-search').click(function(){
                $('#search-form').toggle('fade');
            });
            $( "#id_commercial_realized__icontains" ).datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: 'dd/mm/yy'
            });
            window.clipboardData.setData('Text','hola mundosss');
        });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}panel/js/filter/entry_brand_commercial.select.js"></script>

{% endblock %}