{% extends 'panel/base_frame.html' %}

{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block extra_style %}
    <style>
        .tools {
            float: right;
        }
        .form-horizontal .control-group {
            margin-bottom: 2px;
        }
        .control-group {
            margin-bottom: 1px;
        }
        input[type=radio] {
            opacity: 1 !important;
        }
        .badge{
            float: right !important;
        }
        .text-detail{
            padding-left: 5%;
        }
        ul{
            list-style:none;
        }
    </style>
{% endblock  %}

{% block content %}
<div ng-app="myApp" ng-controller="addCommercialController">
    <message-flash message="{[{ flashMessage }]}" type="flashType" class="message-float"></message-flash>
    <div class="page-header">
        <div class="tools">
            <a href="{% url "model_has_commercial_model_list" pk=model.id %}" class="btn btn-primary">
                <i class=" icon-chevron-left icon-white"></i> {% trans 'Volver' %}</a>
        </div>
        <h2>{%  trans 'Agregar Comerciales' %}</h2>
    </div>
    <ul class="nav nav-pills">
      <li class="active">
        <a href="#" id="hide-show-search">Mostrar / Ocultar</a>
      </li>
    </ul>
    <div id="search-form">
        <form method="get" action="" class="form-horizontal well well-small search-form">
            <div class="row-fluid">
                {% crispy search_form %}
                <div class="form-actions">
                    <input type="submit" class="btn" value="{% trans 'Search' %}">
                </div>
            </div>
        </form>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Comercial' %}</th>
                    <th>{% trans 'Marca' %}</th>
                    <th>{% trans 'Rubro' %}</th>
                    <th>{% trans 'Proyecto' %}</th>
                    <th>{% trans 'Realizado' %}</th>
                    <th>{% trans 'Opciones' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for commercial in object_list %}
                <tr>
                    <td>{{ commercial.name }}</td>
                    <td>{{ commercial.brand }}</td>
                    <td>{{ commercial.brand.entry }}</td>
                    <td>{{ commercial.project }}</td>
                    <td>{{ commercial.realized }}</td>
                    <td><a href="" ng-click="addCommercial({{ commercial.id }}, {{ model.id }})">{% trans 'agregar' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


    {% url 'model_has_commercial_add' as page_url %}
    {% pagination_ctl page_obj url=page_url url_args=search_url_params %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                    <h4 class="modal-title" id="myModalLabel">Agregar comercial</h4>
                </div>
                <div class="modal-body">
                    <form name="myForm">
                        <ul >
                            <li class="li-detail" ng-repeat="detail in details">
                                <input type="radio" name="detail" ng-click="selected(detail.id)">
                                <span class="badge">{[{ detail.avaible }]}</span>
                                <span class="text-detail">
                                    {[{ detail.profile }]} | {[{ detail.model }]} |  {[{ detail.character }]}
                                </span>
                            </li>
                        </ul>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="saveCommercialDetail()">Agregar</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/messages.js"></script>
    <script>

    </script>
    <script type="text/javascript">
        url_brand_by_entry = '{% url 'brand_by_entry_json' entry=0 %}'

        $(document).on('ready',function(){
            $('#search-form').hide();

            $('#hide-show-search').click(function(){
                $('#search-form').toggle('fade');
            });
        });
    </script>
    <script>
        var myApp = angular.module('myApp',['msgApp']);

        myApp.config(function ($interpolateProvider) {
            $interpolateProvider.startSymbol('{[{');
            $interpolateProvider.endSymbol('}]}');

        });

        myApp.controller('addCommercialController', ['$scope','$http', function($scope, $http) {

            $scope.addCommercial = function(commercial, model){
                $scope.details = [];
                $scope.commercial_id = commercial;
                $scope.model_id = model;

                var urlSearch = "{% url 'detail_model_json' pk=':pk' %}";
                urlSearch = urlSearch.replace(':pk', commercial);
                $http.get(urlSearch)
                    .then(function(response) {
                        if(response.status == 200) {
                            $scope.details =  response.data.details;
                            if($scope.details.length == 0) {
                                $scope.detailSelected = 0;
                                $scope.saveCommercialDetail();
                            } else {
                                $('#myModal').modal('show');
                            }

                        }
                });
            };

            $scope.selected = function(detail){
                $scope.detailSelected = detail;
            };

            $scope.saveCommercialDetail = function() {

                var urlSave = "{% url 'model_commercial_add' model_id=':model_id' commercial_id=':commercial_id' detail_id=':detail_id' %}";

                urlSave = urlSave.replace(':commercial_id', $scope.commercial_id );
                urlSave = urlSave.replace(':model_id', $scope.model_id );
                urlSave = urlSave.replace(':detail_id', $scope.detailSelected );

                $http.get(urlSave)
                        .then(function(response) {
                            if(response.status == 200) {
                                $('#myModal').modal('hide');
                                var url = response.data.url;
                                if(url != undefined)
                                    window.location.href = url;

                                $scope.flashMessage = response.data.message;
                                $scope.flashType = response.data.status;
                            }
                        });

            }
        }]);

    </script>

    <script type="text/javascript" src="{{ STATIC_URL }}panel/js/filter/entry_brand_commercial.select.js"></script>
{% endblock %}

