{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="row-fluid">
        <h2>
            {% trans "Nuevo Rubro:" %}
        </h2>
      <form method="post" action="" class="form-horizontal">
          {% csrf_token %}
          {% crispy form %}
        <div class="form-actions">
              <a class="btn" href="{% url "entry_list" %}">{% trans 'Cancel' %}</a>
              <input type="submit" class="btn btn-inverse" value="{% trans 'Crear' %}" />
        </div>
      </form>
    </div>
{% endblock %}