<div ng-controller="SearchAdvanceController">
    <div class="row">
        <div class="span2 offset10">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#basic-search" id="hide-show-search">Simple</a>
                </li>
            </ul>
        </div>
    </div>
    <form class="form-search" >
      <input type="text" class="input-large search-query" ng-model="search" placeholder="Buscar ...">
    </form>
{#    <div class="row-fluid margen" ng-repeat="model_group in getModelGroups() ">#}
    <div class="row">
        <div class="span3" ng-repeat="model in models | criterios:search">
            <div class="item-content">
                <div id="myToggle" class="details">
                    <h3>{[{ model.nombres }]} {[{ model.apellidos }]}</h3>
                    <ul>
                        <li>{[{ model.Telefonos }]}a</li>
                    </ul>
                </div>
                <div id="image">
                    <a href="">
                        <a href="" ng-click="getDetail(model)"><img ng-src="{{ STATIC_URL }}img/{[{ model.codigo }]}.jpg"/></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
{#    </div>#}

</div>