<div ng-controller="SearchAdvanceController">
    <h1>Demo Buscador Avanzado:</h1>
    <form class="form-search" >
      <input type="text" class="input-medium search-query" ng-model="search" placeholder="Buscar ...">
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombres y apellidos</th>
            <th>Telefonos</th>
            <th>Criterios</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="model in models  | criterios:search">
            <td><img src="{{ STATIC_URL }}img/{[{ model.codigo }]}.jpg"/></td>
            <td>{[{ model.nombres }]} {[{ model.apellidos }]}</td>
            <td>{[{ model.Telefonos }]}</td>
            <td>
                {[{ model.carracteristicas.genero }]} -
                {[{ model.carracteristicas.profesion }]} -
                {[{ model.carracteristicas.cabello }]} -
                {[{ model.carracteristicas.estatura }]}
            </td>
        </tr>
      </tbody>
    </table>
</div>