{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

    {% block extra_style %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
        <style>
            .margen{
                margin-top: 10px;
            }
            #image {
                opacity: 1;
                position:absolute;
                width: 220px;
                height: 185px;
            }
            .item-content{
                position:relative;
                overflow: hidden;
                width: 220px;
                height: 185px;
                margin-bottom: 20px;

            }
            .li-item{
                display: inline-block;
                margin-left: 3em;
                margin-top: 1em;
            }
            #image img {
                width: 220px;
                height: 185px;
            }
            #image:hover {
                opacity: 0.3;
                transition: opacity .60s ease-in-out;
                -moz-transition: opacity .60s ease-in-out;
                -webkit-transition: opacity .60s ease-in-out;
            }
            #myToggle {
{#                background-color: rgba(30, 30, 31, 0.67);#}
                width: 220px;
                height: 185px;
                position:absolute;
            }
            .details h3 {
                color: #000000 !important;
                text-align: center;
            }
            .details li {
                color: #000000 !important;
                font-size:  1.3em !important;
            }

        </style>
    {% endblock %}

{% block content %}
    <div ng-app="searchApp">
        <div animated-view></div>
    </div>
{% endblock %}
{% block script_bottom %}
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/app.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/directives/animatedView.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/controllers/controller.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/factories/model.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/filters/filter.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/services/detailService.js"></script>
<script>
    // search urls
    angular.module('searchApp').value("searchUrls", {
        basic: '{% url "search_basic_model" %}',
        advance: '{% url "search_advance_model" %}'
    });



    var searchUrls = {};
    // view templates
    searchUrls.basic = '{% url "search_basic_model" %}';
    searchUrls.advance = '{% url "search_advance_model" %}';

    angular.module('searchApp').value('csrfToken', {
        csrfToken: '{{ csrf_token }}'
    });
</script>

{% endblock %}
