<div ng-controller="SearchBasicController">
    <h1>Demo Buscador basico:</h1>
    <form class="form-search" >
      <input type="text" class="input-medium search-query" ng-model="search" placeholder="Buscar ...">
    </form>
    <table class="table table-bordered">
      <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Telefonos</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="model in models  | filter:search">
            <td>{[{ model.codigo }]}</td>
            <td>{[{ model.nombres }]}</td>
            <td>{[{ model.apellidos }]}</td>
            <td>{[{ model.Telefonos }]}</td>
        </tr>
      </tbody>
    </table>
</div>