{% extends 'panel/panel_basev3.html' %}
{% load i18n %}

{% block content %}
<div ng-app="searchApp" ng-controller="searchController" ng-cloak class="ng-cloak">
    <div class="page-header position-relative">
            <h1>
                <button class="btn btn-info" ng-show="typeSearch.advance" ng-click="changeType()">
                    Simple
                    <i class="icon-group bigger-125 icon-on-right"></i>
                </button>

                <button class="btn btn-info" ng-show="typeSearch.simple" ng-click="changeType()">
                    Avanzado
                    <i class="icon-eye-open bigger-125 icon-on-right"></i>
                </button>
                <small>
                    <i class="icon-double-angle-right"></i>
                    <input type="text" class="span6 search-query" placeholder="Buscar"
                           ng-model="search"
                           ng-keydown="searchModel($event)"
                           autocomplete="off">
                </small>
                <div style="display: inline;" ng-show="typeSearch.simple" ng-click="changeMode()">
                    <label class="inline">
                        <small class="muted">Exacto:</small>
                        <input id="id-button-borders" type="checkbox" class="ace-switch ace-switch-5">
                        <span class="lbl"></span>
                    </label>
                </div>
                <div style="display: inline;" ng-show="typeSearch.advance">
                    <button class="btn btn-info">
                        <i class="icon-edit icon-only bigger-150"></i>
                    </button>
                </div>
            </h1>
        </div><!--/.page-header-->

    <div class="row-fluid">

        <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="loader" ng-show="loader">
                        <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
                    </div>
                    <ul class="ace-thumbnails">
                        <li ng-repeat="model in models | textFilter:search">
                            <a href="{{ STATIC_URL }}img/000001.jpg" data-rel="colorbox">
                                <img alt="150x150" src="{{ STATIC_URL }}img/000001.jpg" />
                                <div class="text">
                                    <div class="inner">{[{ model.name_complete }]}</div>
                                </div>
                                <div class="tags">
                                    <span class="label label-info">breakfast</span>
                                    <span class="label label-important">fruits</span>
                                    <span class="label label-success">toast</span>
                                    <span class="label label-warning arrowed-in">diet</span>
                                </div>
                            </a>

                            <div class="tools tools-bottom">
                                <a href="#">
                                    <i class="icon-link"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-paper-clip"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-pencil"></i>
                                </a>

                                <a href="#">
                                    <i class="icon-remove red"></i>
                                </a>
                            </div>
                        </li>

                    </ul>
                </div><!--PAGE CONTENT ENDS-->
            </div><!--/.span-->

    </div>
</div>
{% endblock %}

{% block script_bottom %}
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/app.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/controllers/controller.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/factories/model.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/filters/search.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/services/detailService.js"></script>
    <script>
        // search urls
        angular.module('searchApp').value("searchUrls", {
            search: '{% url "search_basic_model" %}',
        });
        angular.module('searchApp').value('csrfToken', {
            csrfToken: '{{ csrf_token }}'
        });
    </script>
{% endblock %}