<div class="span3 center" ng-hide="detailLoader">
	<span class="profile-picture">
	    <img class="editable" alt="{[{ detail.profile.name_complete }]}" id="avatar2" src="{{ MEDIA_URL }}{[{ detail.profile.main_image }]}" />
	</span>

    <div class="space space-4"></div>

    <a href="#" ng-click="getModalPauta(detail)" class="btn btn-small btn-block btn-success">
        <i class="icon-plus-sign bigger-110"></i>
        Agregar a pauta
    </a>

    <a href="#" ng-click="getMessage(detail.profile)" class="btn btn-small btn-block btn-primary">
        <i class="icon-envelope-alt"></i>
        Enviar mensaje
    </a>
</div><!--/span-->
<div class="loader" ng-show="detailLoader">
    <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
</div>
<div class="span9" ng-hide="detailLoader">
    <h4 class="blue">
        <span class="middle">{[{ detail.profile.name_complete }]}</span>
        <span class="label label-purple arrowed-in-right">
		<i class="icon-circle smaller-80"></i>{[{ detail.profile.occupation }]}</span>
    </h4>
    <div class="profile-user-info">
        <div class="profile-info-row">
            <div class="profile-info-name"> Codigo </div>

            <div class="profile-info-value">
                {[{ detail.profile.code }]}
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name"> Direccion </div>

            <div class="profile-info-value">
                {[{ detail.profile.address }]}
                <a href="https://www.google.com.pe/maps/preview" target="_blank">
                <i class="icon-map-marker light-orange bigger-110"></i></a>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">Edad</div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.age }]}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">Nacimiento </div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.birth }]}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Telefonos </div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.phone_mobil }]} | {[{ detail.profile.phone_fixed }]}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Documento </div>

            <div class="profile-info-value" ng-if="detail.profile.type_doc != 4">
                <span>{[{ detail.profile.type_doc }]} : {[{ detail.profile.num_doc }]}</span>
            </div>
            <div class="profile-info-value" ng-if="detail.profile.type_doc == 4">
                <span>Sin validar</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Medidas </div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.measures }]}</span>
            </div>
        </div>
        <div class="profile-info-row">
            <div class="profile-info-name">Nacionalidad </div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.nationality }]}</span>
            </div>
        </div>

        <div class="profile-info-row">
            <div class="profile-info-name">Ultima visita </div>

            <div class="profile-info-value">
                <span>{[{ detail.profile.last_visit }]}</span>
            </div>
        </div>
    </div>

    <div class="hr hr-8 dotted"></div>

    <div class="profile-user-info">
        <div class="profile-info-row">
            <div class="profile-info-name"> Email </div>

            <div class="profile-info-value">
                <a href="#" target="_blank">{[{ detail.profile.email }]}</a>
            </div>
        </div>

        <div class="profile-info-row" ng-if="detail.profile.facebook !='#'">
            <div class="profile-info-name">
                <i class="middle icon-facebook-sign bigger-150 blue"></i>
            </div>

            <div class="profile-info-value"  >
                <a href="{[{ detail.profile.facebook }]}" target="_BLANK">Ver perfil Facebook</a>
            </div>
        </div>

    </div>
</div><!--/span-->