<button class="btn btn-mini" ng-click="size = 0">Small </button>
<button class="btn btn-mini btn-info" ng-click="size = 2">Large</button>
<hr style="margin: 3px 0 !important; "/>
<div class="loader" ng-show="detailLoader">
    <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
</div>
<ul class="ace-thumbnails" ng-hide="detailLoader">
    <li ng-repeat="image in detail.images">
        {#small#}
        <span style="position: relative" ng-if="size == 0">
            <div style="text-align: center">{[{ image.taken }]}</div>
            <a href="{{ MEDIA_URL }}{[{ image.main_picture }]}"  target="_blank" data-rel="colorbox">
                <img alt="" src="{{ MEDIA_URL }}{[{ image.thumbs[0].url }]}"/>
            </a>

        </span>
        {#large#}
        <span style="position: relative" ng-if="size == 2" >
            <div style="text-align: center">{[{ image.taken }]}</div>
            <a href="{{ MEDIA_URL }}{[{ image.main_picture }]}" target="_blank" data-rel="colorbox">
                <img alt="" src="{{ MEDIA_URL }}{[{ image.thumbs[2].url }]}"/>
            </a>
        </span>
    </li>
</ul>