{% extends 'panel/panel_basev3.html' %}
{% load i18n %}


{% block extra_style %}
    <style>
        .dropdown-menu.pull-right.dropdown-caret:after {
            right: 190px;
        }
        .dropdown-navbar {
            width: 400px;
        }
        .dropdown-menu.dropdown-closer.pull-right {
            right: -100px;
        }
        .container-search {
            width: 95%;
        }
        .container-advance {
            text-align: left;
        }
        .widget-body{
            overflow: hidden;
        }
        .tag-helper {
            margin-top: 5px;
        }
        .container-info {
            float: left;
            width: 70%;
        }
        .container-button {
            float: right;
            width: 30%;
            text-align: center;
        }
        .btn-simple {
            margin-right: -3px;
            margin-top: 5px;
        }
        .btn-advance {
            margin-top: 5px;
            margin-right: -3px;
        }
        .btn-view {
            margin-top: 5px;
        }
        .text-list{
            overflow: hidden;
        }
        .search-query {
            width: inherit !important;
        }
        .featue-title {
            font-weight: bold;
            color: #9585bf;
        }
        .text-feature {
            font-weight: bold;
            color: #3a87ad;
        }
        .tags input{
            width: 40% !important;
        }
        .tags{
            width: 85%;
            padding-left: 25px;
        }
        .suggestion-list {
            text-align: left;
        }
        .input-icon {
            width: 50% !important;
        }
        input::-webkit-calendar-picker-indicator {
            display: none;
        }
        .tooltip {
            width: 150px;
        }
        .bootstrap .tags .tag-item {
            background: #428bca;
            border: 1px solid #357ebd;
            border-radius: 4px;
            color: #fff;
        }
        .btn-more {
            margin-left: 40%;
        }
    </style>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ng-tags-input.css">
{% endblock %}

{% block script_menu %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-eye-open home-icon"></i>
            <a href="">Buscador</a>
					    <span class="divider">
						    <i class="icon-angle-right arrow-icon"></i>
						</span>
        </li>
        <li>
            <span id="simple">Simple</span>
            <span id="advance">Avanzado</span>
        </li>
    </ul><!--.breadcrumb-->
{% endblock %}

{% block content %}
<div ng-app="searchApp" ng-controller="searchController" ng-cloak class="ng-cloak" ng-init="getFeatures()">
    <message-flash message="{[{ flashMessage }]}" type="flashType"></message-flash>


            <div class="page-header position-relative">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <!--/Simple-->
                            <span class="container-search" ng-show="typeSearch.simple">
                                <input type="text" class="span6 search-query" placeholder="Buscar"
                                       ng-model="search"
                                       ng-keydown="searchModel($event)"
                                       autocomplete="off">
                            </span>

                        <!--/Avanzado-->
                            <small class="container-search" ng-show="typeSearch.advance">
                                <tags-input ng-model="tags">
                                    <auto-complete source="loadTags($query)"></auto-complete>
                                </tags-input>
                            </small>

                            <div style="display: inline;" ng-show="typeSearch.advance">
                                <button class="btn btn-info margin-advance" ng-click="searchAdvance()">
                                    <i class="icon-edit icon-only bigger-150"></i>
                                </button>
                            </div>
                            <span style="font-size: 13px;" ng-if="cant_result>0 && typeSearch.advance == true"></span>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse" class="tag-helper" >
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main no-padding container-info">
                            <span ng-show="typeSearch.advance">
                                <span class="label label-info arrowed-in-right arrowed" ng-repeat="help in tooltip |filter: { type: 'option' }">{[{ help.name }]}</span>
                                <span class="label label-success arrowed-in-right arrowed" ng-repeat="help in tooltip |filter: { type: 'range' }">{[{ help.name }]}</span>
                                <span class="label label-purple arrowed-in-right arrowed" ng-repeat="help in tooltip |filter: { type: 'orden' }">{[{ help.name }]}</span>
                                <span class="label label-inverse arrowed-in-right arrowed" ng-repeat="help in tooltip |filter: { type: 'exclude' }">{[{ help.name }]}</span>
                            </span>
                             </div><!--/widget-main-->
                        <div class="container-button">
                            <button class="btn btn-info btn-simple btn-simple-hover"  ng-click="changeType('simple')">
                                Simple
                                <i class="icon-group bigger-125 icon-on-right"></i>
                            </button>

                            <button class="btn btn-success btn-advance btn-simple-advance" ng-click="changeType('advance')">
                                Avanzado
                                <i class="icon-eye-open bigger-125 icon-on-right"></i>
                            </button>
                            <button class="btn btn-purple btn-view" ng-click="changeView('list')" ng-show="view.card">
                                <i class="icon-list bigger-125 icon-on-right"></i>
                            </button>
                            <button class="btn btn-purple btn-view" ng-click="changeView('card')" ng-show="view.list">
                                <i class="icon-credit-card bigger-125 icon-on-right"></i>
                            </button>


                            <div ng-if="cant_result>0 && typeSearch.advance == true">
                                Resultados: {[{ cant_result  }]}
                            </div>

                        </div>
{#                        <div style="clear: both"></div>#}
                    </div><!--/widget-body-->
                </div><!--/widget-box-->
            </div><!--/.page-header-->





    <div class="row-fluid content-search">

        <div class="span12">
                <!--PAGE CONTENT BEGINS-->
                <div class="row-fluid">
                    <div class="loader" ng-show="loader">
                        <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
                    </div>
                    <ul class="ace-thumbnails" ng-show="view.card">
                        <li ng-repeat="model in models | textFilter:search" class="list-models">
                                <a data-rel="colorbox" data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <img alt="150x150" src="{{ MEDIA_URL }}{[{ model.main_image }]}" style="width: 150px; height: 150px"/>
                                    <div class="text">
                                        <div class="inner">{[{ model.name_complete }]}</div>
                                    </div>
                                    <div class="tags">
                                        <span class="label label-success" ng-show="model.web">Web</span>
                                        <span class="label label-info" ng-if="model.cant_extra > 0 ">Extra: {[{ model.cant_extra }]}</span>
                                        <span class="label label-important" ng-if="model.cant_casting > 0">Casting: {[{ model.cant_casting }]}</span>
{#                                        <span class="label label-warning arrowed-in">diet</span>#}
                                    </div>
                                </a>
                                <div class="tools tools-bottom" style="display:none">
                                    <a href="#" ng-click="getDetail(model.model_code)">
                                        <i class="icon-eye-open" data-toggle="modal" data-target="#myProfile"></i>
                                    </a>

                                    <a href="#" data-toggle="modal" data-target="#listAdd" ng-click="getList(model)">
                                        <i class="icon-paper-clip"></i>
                                    </a>

                                    <a href="{[{ urlCrud }]}?pk={[{ model.model_code }]}">
                                        <i class="icon-pencil"></i>
                                    </a>

                                    <a href="#">
                                        <i class="icon-remove red"></i>
                                    </a>
                                </div>

                                <ul class="pull-right dropdown-navbar dropdown-menu dropdown-caret dropdown-closer">
                                    <li class="nav-header">
                                        <i class="icon-check"></i>
                                        Detalles
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-mini no-hover btn-pink icon-comment"></i>
                                                    Telefonos: {[{ model.phone_mobil }]} | {[{ model.phone_fixed }]}
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <i class="btn btn-mini btn-primary  icon-envelope"></i>
                                            Email: {[{ model.email }]}
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix">
                                                <span class="pull-left">
                                                    <i class="btn btn-mini no-hover btn-success icon-calendar"></i>
                                                    Edad: {[{ model.age }]} | {[{ model.birth }]}
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                            <div class="clearfix text-list">
                                                <span class="pull-left">
                                                    <i class="btn btn-mini no-hover btn-info icon-home"></i>
                                                    Ocupacion: {[{ getOccupation(model.summary) }]}
                                                </span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#">
                                    </a>
                                    </li>
                                </ul>

                        </li>

                    </ul>

                    <table class="table table-bordered table-striped" ng-show="view.list">
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Telefonos</th>
                            <th>Edad</th>
                            <th>Opciones</th>
                        </tr>
                        <tr ng-repeat="model in models | textFilter:search">
                            <td>
                                <img alt="150x150" src="{{ MEDIA_URL }}{[{ model.main_image }]}" style="width: 150px; height: 150px"/>
                            </td>
                            <td>
                                {[{ model.name_complete }]}
                            </td>
                            <td>
                                {[{ model.email }]}
                            </td>
                            <td>
                                {[{ model.phone_mobil }]} | {[{ model.phone_fixed }]}
                            </td>
                            <td>
                                {[{ model.age }]} | {[{ model.birth }]}
                            </td>
                            <td>
                                <div class="hidden-phone visible-desktop action-buttons">
                                    <a href="#" ng-click="getDetail(model.model_code)">
                                        <i class="icon-eye-open" data-toggle="modal" data-target="#myProfile"></i>
                                    </a>

                                    <a href="#" data-toggle="modal" data-target="#listAdd" ng-click="getList(model)">
                                        <i class="icon-paper-clip"></i>
                                    </a>

                                    <a href="{[{ urlCrud }]}?pk={[{ model.model_code }]}">
                                        <i class="icon-pencil"></i>
                                    </a>

                                    <a href="#">
                                        <i class="icon-remove red"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div><!--PAGE CONTENT ENDS-->

        </div><!--/.span-->

        <!-- Modal Model Detail-->
        {% include 'panel/search/model/modal_profile.html' %}

        <!-- Modal List -->
        <div class="modal fade" id="listAdd" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar a lista &raquo
                            <button type="submit" class="btn btn-info" ng-click="newList = true" ng-hide="newList">Nuevo</button>
                            <button type="submit" class="btn btn-default" ng-click="newList = false" ng-show="newList">Cancelar</button>
                            <button type="submit" class="btn btn-warning" ng-click="showParticipate = !showParticipate" ng-show="list_participate.length > 0">
                                <i class="icon-bell-alt icon-animated-bell"></i>
                            </button>

                        </h4>
                    </div>
                    <div class="modal-body">

                        <form role="form" style="text-align: center">
                            <div ng-hide="newList">
                                <ul ng-repeat="participate in list_participate" style="list-style:none;" ng-show="showParticipate">
                                    <li>
                                        <div class="alert alert-info">
                                            <button type="button" class="close" data-dismiss="alert">
                                            </button>
                                            <strong>{[{ participate.commercial }]}</strong>
                                            &raquo
                                            {[{ participate.name }]} ({[{ participate.owner }]})
                                            <br>
                                        </div>
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <label for="exampleInputEmail1"></label>
                                    <select ng-model="listSelected" ng-options="list.name for list in myList">
                                        <option value="">-- Elija una lista --</option>
                                    </select>
                                </div>
                            </div>

                            <div ng-show="newList">

                                <div class="form-group">
                                    <label for="exampleInput"></label>
                                    <input type="text" class="form-control" id="exampleInput" ng-model="newTitleList" placeholder="Titulo">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="modal-footer" style="position: relative ">
                        <div style="width: 60%; float: left;text-align: left;">
                            &raquo {[{ addModel.name }]}
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success" ng-show="newList" ng-click="saveList()">Grabar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-hide="newList">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-hide="newList" ng-click="addModelList()">Agregar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Message -->
        <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none" >
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Enviar Mensaje  &raquo {[{ infoMessage.model.name_complete }]}</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <select ng-model="infoMessage.message" ng-options="message.name for message in messages">
                            <option value="">-- Elige una plantilla --</option>
                        </select>
                        <div class="loader" ng-show="messageLoader">
                            <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="sendMessage()">Enviar</button>
                    </div>
                </div>
            </div>
        </div>


        <!-- Add Pauta -->
        <div class="modal fade" id="addPauta" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agregar &raquo {[{ addModelPauta.name_complete }]}</h4>
                    </div>
                    <div class="modal-body">
                        <message-flash message="{[{ flashModalMessage }]}" type="flashModalType"></message-flash>
                        <form class="form-horizontal" id="sample-form">
                            <div class="control-group info">
                                <label class="control-label" for="inputProject">Proyecto</label>

                                <div class="controls">
								    <span class="span6 input-icon input-icon-right">
									    <select ng-change="getCharacter()" ng-options="project.name for project in projects" ng-model="newPauta.project">
                                            <option value="">-- Elige un proyecto --</option>
                                        </select>
									</span>
                                </div>
                            </div>
                            <div class="control-group info">
                                <label class="control-label" for="inputCharacter">Personaje</label>

                                <div class="controls">
								    <span class="span6 input-icon input-icon-right">
                                        <select ng-options="(character.profile+' '+character.character) for character in characters" ng-model="newPauta.character">
                                            <option value="">-- Elige un personaje --</option>
                                        </select>
									</span>
                                </div>
                            </div>
                            <div class="control-group info">
                                <label class="control-label" for="inputTime">Fecha</label>

                                <div class="controls">
								    <span class="span6 input-icon input-icon-right">
									    <input class="span12" type="text" id="inputTime" ng-model="newPauta.date" date-picker >
									</span>
                                </div>
                            </div>
                            <div class="control-group info">
                                <label class="control-label" for="inputTime">Hora</label>

                                <div class="controls">
								    <span class="span6 input-icon input-icon-right">
									    <input class="span12" type="time" id="inputTime" ng-model="newPauta.time">
									</span>
                                </div>
                            </div>
                            <div class="control-group info">
                                <label class="control-label" for="inputObservation">Observaciones</label>

                                <div class="controls">
								    <span class="span6 input-icon input-icon-right">
                                        <textarea rows="4" cols="50" ng-model="newPauta.observation">
                                        </textarea>
									</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" ng-click="saveModelPauta()">Agregar a pauta</button>
                    </div>
                </div>
            </div>
        </div>



        <button class="btn btn-success btn-more" ng-if="paginate > 0" ng-click="searchModelPaginate()" id="bootbox-options">Mas Resultados</button>
    </div>


</div>

{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>

    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/messages.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/datePicker.js"></script>

    <script src="{{ STATIC_URL }}js/apps/libs/ng-tags-input.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/app.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/controllers/controller.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/factories/model.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/filters/search.js"></script>
    <script src="{{ STATIC_URL }}js/apps/search/services/detailService.js"></script>
    <script>
        // search urls
        angular.module('searchApp').value("searchUrls", {
            search: '{% url "search_basic_model" %}',
            profile: '{% url "panel_model_control_list" %}',
            detail: '{% url "panel_information_model"  pk=':pk' %}',
            features: '{% url "search_data_feature" %}',
            list: '{% url "list_data_json" %}',
            urlMessage: '{% url "message_data_json" %}',
            saveList: '{% url "list_save_json" %}',
            saveModelPautalUrl: '{% url 'project_pauta_add' %}',
            saveModelList: '{% url "add_model_list_save_json" %}',
            sendMessageUrl: '{% url "send_message_data_json" %}',
            list_participate : '{% url "search_model_participate"  pk=':pk' %}',
            projectCharacterUrl: '{% url 'pauta_detail_model_json' pk=':pk' %}',
            projectListUrl: '{% url "project_pauta_list" %}'
        });
        angular.module('searchApp').value('csrfToken', {
            csrfToken: '{{ csrf_token }}'
        });
    </script>

    <script src="{{ STATIC_URL }}admin/js/bootstrap-tag.min.js"></script>

    <script>
        //we could just set the data-provide="tag" of the element inside HTML, but IE8 fails!
        $(document).on('ready', function(){
            var tag_input = $('#form-field-tags');
            if(! ( /msie\s*(8|7|6)/.test(navigator.userAgent.toLowerCase())) )
                tag_input.tag({placeholder:tag_input.attr('placeholder')});
            else {
                tag_input.after('<input id="'+tag_input.attr('id')+'" name="'+tag_input.attr('name')+'" value="'+tag_input.val()+ '" type="text"/>').remove();
            }

            $('.tags input[type="text"]').attr('id', 'input-feature');
            $('#input-feature').attr('list', 'features');


        })
    </script>

{% endblock %}