{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

    {% block extra_style %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
    {% endblock %}

{% block content %}
    <div class="page-header">
        <div class="tools">
            <a href="{%   url "commercial_create" %}" class="btn btn-success">
                <i class="icon-plus icon-white"></i> {% trans 'Nuevo Comercial' %}</a>
        </div>
        <h2>{%  trans 'Comerciales registrados' %}</h2>
    </div>

    <form method="get" action="" class="form-horizontal well well-small search-form">
        <div class="row-fluid">
            {% crispy search_form %}
            <div class="form-actions">
            	<input type="submit" class="btn" value="{% trans 'Search' %}">
            </div>
        </div>
    </form>

    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{% trans 'Comercial' %}</th>
                    <th>{% trans 'Marca' %}</th>
                    <th>{% trans 'Rubro' %}</th>
                    <th>{% trans 'Realizado' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for commercial in object_list %}
                <tr>
                    <td>{{ commercial.name }}</td>
                    <td>{{ commercial.brand_id }}</td>
                    <td>{{ commercial.brand_id.entry_id }}</td>
                    <td>{{ commercial.realized }}</td>
                    <td><a href="{% url "commercial_edit" commercial.pk %}">{% trans 'Update' %}</a></td>
                    <td><a href="{% url "commercial_delete" commercial.pk %}">{% trans 'Delete' %}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript">
        url_brand_by_entry = '{% url 'brand_by_entry_json' entry=0 %}'
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}panel/js/filter/entry_brand_commercial.select.js"></script>
{% endblock %}