{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
{% endblock extra_style %}
{% block content %}

    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <h2>
            {% trans "Nuevo Comercial:" %}
            </h2>
            <hr>

      <form method="post" action="" class="">{% csrf_token %}

                    {% crispy form %}

                    <a class="btn" href="{% url "commercial_list" %}">{% trans 'Cancelar' %}</a>
                    <input type="submit" class="btn btn-inverse" value="{% trans 'Crear' %}" />

        </form>
        </table>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>
    <script>
      url_brand_by_entry = '{% url 'brand_by_entry_json' entry=0 %}'
      $(function() {
        $( "#id_realized" ).datepicker();
      });
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}panel/js/filter/entry_brand_commercial.select.js"></script>
{% endblock script_bottom %}