{% extends 'panel/panel_basev3.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
{% endblock extra_style %}
{% block content %}

    <div class="row-fluid">
        <h2>
            {% trans  'Actualizar comercial:'  %} {{ object.name }}
        </h2>
        <hr>
      <form method="post" action="" class="form-horizontal">{% csrf_token %}
            {% crispy form %}
            <div class="form-actions">
                <a class="btn" href="{% url "commercial_list" %}">{% trans 'Cancel' %}</a>
                <input type="submit" class="btn btn-inverse" value="{% trans 'Actualizar' %}" />
            </div>
        </form>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script>
    $(document).on('ready', function(){
        $( "#id_realized" ).datepicker();
        $('#id_brand').addClass('chzn-select');
        $('#id_brand').chosen({});
    });
    </script>
{% endblock script_bottom %}