{% extends 'panel/base_frame.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="page-header">
            <h2>{% trans "Está seguro de eliminar este contrato?" %}</h2>
    </div>

      <form method="post" action="" class="">
          {% csrf_token %}
          <div class="form-actions">
                    <a class="btn" href="{% url "contract_list" model_has_commercial.id %}">{% trans 'Cancelar' %}</a>
                    <input type="submit" class="btn btn-danger" value="{% trans 'Eliminar' %}" />
          </div>

        </form>
{% endblock %}