{% extends 'panel/panel_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
{% endblock extra_style %}
{% block content %}

    <div class="row-fluid">
        <table class="table table-bordered table-striped">

        <h2>
            {% trans  'Actualizar contrato:'  %} {{ object.character }}
        </h2>
        <hr>


      <form method="post" action="" class="">{% csrf_token %}

                    {% crispy form %}

                    <a class="btn" href="{% url "contract_list" %}">{% trans 'Cancel' %}</a>
                    <input type="submit" class="btn btn-inverse" value="{% trans 'Actualizar' %}" />

        </form>
        </table>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>
    <script>
      $(function() {
        $( "#start_date" ).datepicker();
        $( "#ending_date" ).datepicker();
      });
    </script>
{% endblock script_bottom %}