{% extends 'panel/base_frame.html' %}
{% load i18n %}
{% load crispy_forms_tags %}


{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
{% endblock %}
{% block content %}

    <div class="page-header">
        <h2>{% trans  'Actualizar contrato:'  %} {{ object.character }}</h2>
    </div>


    <form method="post" action="" class="form-horizontal">
          {% csrf_token %}

          {% crispy form %}
          <div class="form-actions">
                    <a class="btn" href="{% url "contract_list" model_has_commercial.id %}">{% trans 'Cancel' %}</a> o
                    <input type="submit" class="btn btn-inverse" value="{% trans 'Actualizar' %}" />
          </div>
        </form>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>
{% endblock %}