{% extends 'panel/panel_basev3.html' %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block script_top %}
{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/chosen.css" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
    <style>
        .wizard-steps li{
            min-height: 25%;
            min-width: 25%;
        }
        .message-float{
            position: absolute;
            z-index: 99999;
            margin-left: 70%;
        }
        #fuelux-wizard{
            display: block !important;
        }

        .add-button{
            margin-left: 45%;
        }
        .modal {
            display: none;
        }
        .btn-save{
            margin-right: 67%;
        }
    </style>
{% endblock %}

{#{% block script_menu %}#}
{##}
{#{% endblock %}#}
{% for message in messages %}
    <div class="alert  alert-{{ message.tags }} messages">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p>{% autoescape off %}{{ message }}{% endautoescape %}</p>
    </div>
{% endfor %}
{% block content %}

    <div class="row-fluid">
    <div class="span12">
    <div class="widget-box"  ng-app="projectApp">
    <div class="widget-header widget-header-blue widget-header-flat" ng-controller="menuController">
        <h4 class="lighter" ng-cloak class="ng-cloak" >Proyecto{[{ lineSelected }]}{[{ commercial }]}{[{ project_code }]}</h4>

        <div class="widget-toolbar">
            <label>

                <div class="btn-group">
                    <button data-toggle="dropdown" class="btn btn-info btn-small dropdown-toggle">
                        Tipo de proyecto
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-info pull-right">
                        <li ng-repeat="line in lines">
                            <a href="" ng-click="changeLine(line)">{[{ line.name }]}</a>
                        </li>
                    </ul>
                </div>
                <span class="lbl"></span>
            </label>
        </div>
    </div>

    <div class="widget-body">
        <div class="widget-main">
        <div class="row-fluid">
           <project-steps></project-steps>
        <hr />
        <div class="step-content row-fluid position-relative" id="step-container" ng-controller="projectController" >
            <message-flash message="{[{ flashMessage }]}" type="flashType" class="message-float"></message-flash>
            <div class="loader" ng-show="detailLoader" ng-cloak class="ng-cloak">
                <img src="{{ STATIC_URL }}admin/img/gif-load.gif" alt=""/>
            </div>
            {[{ project_service.step }]}
            <div class="step-pane active" id="step1" ng-if="project_service.step == 1" ng-hide="detailLoader" ng-cloak class="ng-cloak">
                {% include 'panel/project/project.html' %}
            </div>

            <div class="step-pane active" id="step2" ng-if="project_service.step == 2" ng-hide="detailLoader" ng-cloak class="ng-cloak">
                {% include 'panel/project/models.html' %}
            </div>

            <div class="step-pane active" id="step3" ng-if="project_service.step == 3" ng-hide="detailLoader" ng-cloak class="ng-cloak">
                {% include 'panel/project/payment.html' %}
            </div>

            <div class="step-pane active" id="step4" ng-if="project_service.step == 4" ng-hide="detailLoader" ng-cloak class="ng-cloak">
                {% include 'panel/project/resources.html' %}
            </div>
        </div>

        <hr />
            <project-action-steps></project-action-steps>
        </div>
        </div><!--/widget-main-->
            </div><!--/widget-body-->
            </div>
        </div>
    </div>

{% endblock %}


{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>

    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/chosen.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/datePicker.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/messages.js"></script>

    <script src="{{ STATIC_URL }}js/apps/project/app.js"></script>

    <script src="{{ STATIC_URL }}js/apps/project/services/project.js"></script>

    <script src="{{ STATIC_URL }}js/apps/project/controllers/project.js"></script>
    <script src="{{ STATIC_URL }}js/apps/project/controllers/menu.js"></script>
{#    <script src="{{ STATIC_URL }}js/apps/project/controllers/payment.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/apps/project/controllers/resources.js"></script>#}
{#    <script src="{{ STATIC_URL }}js/apps/project/controllers/models.js"></script>#}
{##}
    <script src="{{ STATIC_URL }}js/apps/project/factories/brand.js"></script>
    <script src="{{ STATIC_URL }}js/apps/project/factories/project.js"></script>
    <script src="{{ STATIC_URL }}js/apps/project/factories/commercial.js"></script>
    <script src="{{ STATIC_URL }}js/apps/project/factories/client.js"></script>
    <script src="{{ STATIC_URL }}js/apps/project/factories/entry.js"></script>

    <script src="{{ STATIC_URL }}js/apps/project/directives/steps.js"></script>

    <script>
        //urls
        angular.module('projectApp').value("factoryUrl", {
            brandUrl: '{% url "brand_by_entry_json" entry=':entry' %}',
            commercialUrl: '{% url "commercial_data_list" %}',
            commercialSaveUrl: '{% url "commercial_json_create" %}',
            clientSaveUrl: '{% url "client_json_create" %}',
            entryUrl: '{% url "entry_data_list" %}',
            clientUrl : '{% url "client_data_list" %}',
            urlTypeClient: '{% url "type_client_data_list" %}',
            typeCastingUrl: '{% url "type_casting_data" %}',
            urlCharacterCasting: '{% url "casting_data_character" %}',
            urlCharacterExtra: '{% url "extra_data_character" %}',
            urlEventsRepresentation: '{% url "representation_data_event" %}',
            urlCharacterRepresentation: '{% url "representation_data_character" %}',
            urlCurrency: '{% url "currency_list_json" %}',
            urlRoles: '{% url "project_roles_json" %}',
            urlEmployee: '{% url "employee_list_json" %}',
            projectSaveUrl: '{% url "project_save" %}',
            urlSearchModel: '{% url "simple_search_model" %}',
            urlPhotoCastingType: '{% url "photo_casting_data_types" %}',
            projectLineUrl: '{% url "project_line_json" %}',
            urlProjectUpdate: '{% url "project_update" %}',
            urlDataUpdateProject: '{% url "project_update_data_json" pk=':pk' %}'
        });
        angular.module('projectApp').value('csrfToken', {
            csrfToken: '{{ csrf_token }}'
        });
        angular.module('projectApp').value("contextData", {
            codeUpdate: '{{ code|safe }}',
            idUpdate: '{{ id|safe }}'
        });
    </script>

{% endblock %}