
<div class="row-fluid">
<div class="span12">
    <span ng-show=" project_service.line.name == 'casting'">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Cantidad</th>
                <th>Perfil</th>
                <th class="hidden-480">Carracteristicas</th>
                <th class="hidden-480">Personaje</th>
                <th>Tipo de casting</th>
                <th>Escena</th>
                <th>Opciones</th>
            </tr>
            </thead>

            <tbody>
                <tr ng-repeat="detail in project_service.detailModel">
                    <td>
                        <a href="#">{[{ detail.cant }]}</a>
                    </td>
                    <td>
                        {[{ detail.profile }]}
                    </td>
                    <td class="hidden-480">
                        {[{ detail.feature }]}
                    </td>
                    <td class="hidden-phone">
                        {[{ detail.character.name }]}
                    </td>

                    <td class="hidden-480">
                        <span ng-repeat="type in detail.type">
                            {[{ type.name }]} |
                        </span>
                    </td>
                    <td class="hidden-480">
                        <span class="label label-warning">{[{ detail.scene }]}</span>
                    </td>

                    <td>
                        <div class="hidden-phone visible-desktop btn-group">
                            <button class="btn btn-mini btn-info" data-toggle="modal" data-target="#modalCreateDetail" ng-click="updateCastingDetail(detail)">
                                <i class="icon-edit bigger-120"></i>
                            </button>

                            <button class="btn btn-mini btn-danger" ng-click="deleteDetailModel($index)">
                                <i class="icon-trash bigger-120"></i>
                            </button>

                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="7">
                        <button class="add-button btn btn-primary btn-small" data-toggle="modal" data-target="#modalCreateDetail" ng-click="setStatusSave(true)">Agregar</button>
                    </td>
                </tr>

            </tbody>
        </table>
    </span>

    <span ng-show=" project_service.line.name == 'extra'">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Perfil</th>
                        <th class="hidden-480">Carracteristicas</th>
                        <th class="hidden-480">Personaje</th>
                        <th>Moneda</th>
                        <th>Monto Pago</th>
                        <th>Horarios</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="detail in project_service.detailModel">
                        <td>
                            <a href="#">{[{ detail.cant }]}</a>
                        </td>
                        <td>
                            {[{ detail.profile }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.feature }]}
                        </td>
                        <td class="hidden-phone">
                            {[{ detail.character.name }]}
                        </td>

                        <td class="hidden-480">
                            {[{ detail.currency.symbol }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.budget_cost }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.schedule }]}
                        </td>

                        <td>
                            <div class="hidden-phone visible-desktop btn-group">
                                <button class="btn btn-mini btn-info" data-toggle="modal" data-target="#modalCreateExtraDetail" ng-click="updateCastingDetail(detail)">
                                    <i class="icon-edit bigger-120"></i>
                                </button>

                                <button class="btn btn-mini btn-danger" ng-click="deleteDetailModel($index)">
                                    <i class="icon-trash bigger-120"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <button class="add-button btn btn-primary btn-small" data-toggle="modal" data-target="#modalCreateExtraDetail" ng-click="setStatusSave(true)">Agregar</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
    </span>

    <span ng-show=" project_service.line.name == 'Representacion'">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Perfil</th>
                        <th class="hidden-480">Modelo</th>
                        <th class="hidden-480">Personaje</th>
                        <th>Moneda</th>
                        <th>Monto Pago</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="detail in project_service.detailModel">
                        <td>
                            {[{ detail.profile }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.model.name }]} |  {[{ detail.model.document }]}
                        </td>
                        <td class="hidden-phone">
                            {[{ detail.character.name }]}
                        </td>

                        <td class="hidden-480">
                            {[{ detail.currency.symbol }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.budget_cost }]}
                        </td>

                        <td>
                            <div class="hidden-phone visible-desktop btn-group">
                                <button class="btn btn-mini btn-info" data-toggle="modal" data-target="#modalCreateRepresentationDetail" ng-click="updateCastingDetail(detail)">
                                    <i class="icon-edit bigger-120"></i>
                                </button>

                                <button class="btn btn-mini btn-danger" ng-click="deleteDetailModel($index)">
                                    <i class="icon-trash bigger-120"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <button class="add-button btn btn-primary btn-small" data-toggle="modal" data-target="#modalCreateRepresentationDetail" ng-click="setStatusSave(true)">Agregar</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
    </span>

    <span ng-show=" project_service.line.name == 'Foto'">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>Cantidad</th>
                        <th>Perfil</th>
                        <th class="hidden-480">Carracteristicas</th>
                        <th class="hidden-480">Personaje</th>
                        <th>Observaciones</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr ng-repeat="detail in project_service.detailModel">
                        <td>
                            <a href="#">{[{ detail.cant }]}</a>
                        </td>
                        <td>
                            {[{ detail.profile }]}
                        </td>
                        <td class="hidden-480">
                            {[{ detail.feature }]}
                        </td>
                        <td class="hidden-phone">
                            {[{ detail.character.name }]}
                        </td>

                        <td class="hidden-480">
                            {[{ detail.observations }]}
                        </td>

                        <td>
                            <div class="hidden-phone visible-desktop btn-group">
                                <button class="btn btn-mini btn-info" data-toggle="modal" data-target="#modalCreatePhotoDetail" ng-click="updateCastingDetail(detail)">
                                    <i class="icon-edit bigger-120"></i>
                                </button>

                                <button class="btn btn-mini btn-danger" ng-click="deleteDetailModel($index)">
                                    <i class="icon-trash bigger-120"></i>
                                </button>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="7">
                            <button class="add-button btn btn-primary btn-small" data-toggle="modal" data-target="#modalCreatePhotoDetail" ng-click="setStatusSave(true)">Agregar</button>
                        </td>
                    </tr>

                    </tbody>
                </table>
    </span>
</div><!--/span-->
</div><!--/row-->


<!-- Modal Casting Model-->
<div class="modal fade" id="modalCreateDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Comercial</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--PAGE CONTENT BEGINS-->
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Cantidad</label>

                                <div class="controls">
                                    <input type="number" id="form-field-1" ng-model="castDetailModel.cant" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Perfil</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Perfil" ng-model="castDetailModel.profile"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1" >Carracteristicas</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Carracteristicas" ng-model="castDetailModel.feature"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Personaje</label>

                                <div class="controls">
                                    <select id="chosenEntry" chosen="characters" class="form-control"
                                            ng-model="castDetailModel.character"
                                            ng-options="character.name for character in characters"
                                            required>
                                        <option value="">-- Elige un personaje --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Tipo de casting</label>

                                <div class="controls">
                                    <select id="chosenBrand" multiple="multiple" class="form-control"
                                            ng-model="castDetailModel.type"
                                            ng-options="type.name for type in typeCasting">
                                        <option value="">-- Elige un tipo de casting --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Escena</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Escena" ng-model="castDetailModel.scene" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-show="saveDetail" ng-click="addDetailModel(castDetailModel)">Grabar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Extra Model-->
<div class="modal fade" id="modalCreateExtraDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Detalle</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--PAGE CONTENT BEGINS-->
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Cantidad</label>

                                <div class="controls">
                                    <input type="number" id="form-field-1" ng-model="castDetailModel.cant" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Perfil</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Perfil" ng-model="castDetailModel.profile"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1" >Carracteristicas</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Carracteristicas" ng-model="castDetailModel.feature"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Personaje</label>

                                <div class="controls">
                                    <select id="chosenEntry" chosen="characters" class="form-control"
                                            ng-model="castDetailModel.character"
                                            ng-options="character.name for character in characters"
                                            required>
                                        <option value="">-- Elige un personaje --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Moneda</label>

                                <div class="controls">
                                    <select id="chosenBrand" class="form-control"
                                            ng-model="castDetailModel.currency"
                                            ng-options="coin.symbol for coin in coins">
                                        <option value="">-- Elige tipo de moneda --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Monto de pago</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Monto de pago" ng-model="castDetailModel.budget_cost" />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Horario</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Monto de pago" ng-model="castDetailModel.schedule" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-show="saveDetail" ng-click="addDetailModel(castDetailModel)">Grabar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Representation Model-->
<div class="modal fade" id="modalCreateRepresentationDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Detalle</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--PAGE CONTENT BEGINS-->
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Perfil</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Perfil" ng-model="castDetailModel.profile"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1" >Modelo</label>
                                <div class="controls">
                                    <span class="">
                                        <input type="text" id="form-field-model" name="form-field-model"  placeholder="Modelo" ng-model="castDetailModel.model_name"  list="models"/>
                                        <datalist id="models">
                                            <option ng-repeat="model in models" value="{[{ model.id }]}">{[{ model.name }]} | {[{ model.document }]}</option>
                                        </datalist>
                                    </span>
                                    <span class="">
                                        <button class="btn btn-success btn-small" id="bootbox-options" ng-click="searchModel(castDetailModel.model_name)">Buscar</button>
                                    </span>
                                </div>

                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Personaje</label>

                                <div class="controls">
                                    <select id="chosenEntry" chosen="characters" class="form-control"
                                            ng-model="castDetailModel.character"
                                            ng-options="character.name for character in characters"
                                            required>
                                        <option value="">-- Elige un personaje --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Moneda</label>

                                <div class="controls">
                                    <select id="chosenBrand" class="form-control"
                                            ng-model="castDetailModel.currency"
                                            ng-options="coin.symbol for coin in coins">
                                        <option value="">-- Elige tipo de moneda --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Monto de pago</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Monto de pago" ng-model="castDetailModel.budget_cost" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-show="saveDetail" ng-click="addDetailModel(castDetailModel)">Grabar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Representation Model-->
<div class="modal fade" id="modalCreatePhotoDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">Nuevo Detalle</h4>
            </div>
            <div class="modal-body">
                <div class="row-fluid">
                    <div class="span12">
                        <!--PAGE CONTENT BEGINS-->
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Cantidad</label>

                                <div class="controls">
                                    <input type="number" id="form-field-1" ng-model="castDetailModel.cant" required />
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Perfil</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Perfil" ng-model="castDetailModel.profile"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1" >Carracteristicas</label>

                                <div class="controls">
                                    <input type="text" id="form-field-1" placeholder="Carracteristicas" ng-model="castDetailModel.feature"/>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1">Personaje</label>

                                <div class="controls">
                                    <select id="chosenEntry" chosen="characters" class="form-control"
                                            ng-model="castDetailModel.character"
                                            ng-options="character.name for character in characters"
                                            required>
                                        <option value="">-- Elige un personaje --</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" for="form-field-1" >Observaciones</label>

                                <div class="controls">
                                    <textarea rows="4" cols="50" ng-model="castDetailModel.observations">
                                    </textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" ng-show="saveDetail" ng-click="addDetailModel(castDetailModel)">Grabar</button>
            </div>
        </div>
    </div>
</div>

