
<div class="row-fluid">
<div class="span12">
    {% include 'panel/project/casting/model_table.html' %}

    {% include 'panel/project/extras/model_table.html' %}

    {% include 'panel/project/photo/model_table.html' %}

    {% include 'panel/project/representation/model_table.html' %}

</div><!--/span-->
</div><!--/row-->


{% include 'panel/project/casting/model_modal.html' %}

{% include 'panel/project/extras/model_modal.html' %}

{% include 'panel/project/photo/model_modal.html' %}

{% include 'panel/project/representation/model_modal.html' %}
