<form class="form-horizontal" id="sample-form">
    <div class="control-group success">
        <label class="control-label" for="inputInfo">Facturacion</label>
        <div class="controls">
            <span class="span6 input-icon input-icon-right">
                <select class="form-control span12">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>

            </span>
        </div>
    </div>

    <div class="control-group success">
        <label class="control-label" for="inputInfo">Presupuesto al Cliente</label>
        <div class="controls">
            <span class="span6 input-icon input-icon-right">
                <input class="span12" type="text" id="inputInfo" placeholder="$"/>
            </span>
        </div>
    </div>

    <div class="control-group success">
        <label class="control-label" for="inputInfo">Presupuesto Interno</label>
        <div class="controls">
            <span class="span6 input-icon input-icon-right">
                <input class="span12" type="text" id="inputInfo" placeholder="$"/>
            </span>
        </div>
    </div>

    <div class="control-group success">
        <label class="control-label" for="inputInfo">Condiciones de pago</label>
        <div class="controls">
            <span class="span6 input-icon input-icon-right">
                <input class="span12" type="text" id="inputInfo" placeholder=""/>
            </span>
            <span class="span6 input-icon input-icon-right">
                <button data-toggle="modal" data-target="#myModal" class="btn btn-info btn-small" id="bootbox-options">Agregar</button>
            </span>
        </div>
    </div>
</form>