{% extends 'panel/panel_basev3.html' %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jqueryui.css" type="text/css" />
{% endblock %}

{% block content %}
    <div ng-app="pautaApp" ng-controller="pautaController"  ng-cloak class="ng-cloak">
        <div class="page-header">
            <h2>Pauta &raquo <span ng-hide="editDate">{[{ pauta.date }]}</span>
                <input class="span2" type="text" ng-show="editDate" placeholder="dd/mm/yy" ng-model="pauta.date" date-picker />
                <i class="icon-edit" ng-click="changeDate()"></i>
            </h2>

        </div>
        <select ng-model="pauta.project" ng-change="updateList()" ng-options="project.name for project in projects">
            <option value="">-- Elige un proyecto --</option>
        </select>
        <input type="text" placeholder="Buscar" ng-model="search"/>
        <message-flash message="{[{ flashMessage }]}" type="flashType"></message-flash>
        <div class="row-fluid">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Hora' %}</th>
                    <th>{% trans 'Modelo' %}</th>
                    <th>{% trans 'Proyecto' %}</th>
                    <th>{% trans 'personaje' %}</th>
                    <th>{% trans 'Observaciones' %}</th>
                    <th>{% trans 'Opciones' %}</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in details | filter:search">
                        <td>{[{ detail.time }]}</td>
                        <td>{[{ detail.model }]}</td>
                        <td>{[{ detail.project }]}</td>
                        <td>{[{ detail.character }]}</td>
                        <td>{[{ detail.observation }]}</td>
                        <td>
                            <select ng-change="updateStatusDetail(detail)" ng-model="detail.status" ng-options="value.name for value in status">
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jqueryui.1.10.3.js"></script>

    <script src="{{ STATIC_URL }}js/angular.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/datePicker.js"></script>
    <script src="{{ STATIC_URL }}js/apps/commons/directives/messages.js"></script>
    <script src="{{ STATIC_URL }}js/apps/pauta/apps.js"></script>
    <script src="{{ STATIC_URL }}js/apps/pauta/controller.js"></script>
    <script>
        angular.module('pautaApp').value("searchUrls", {
            projectListUrl: '{% url "project_pauta_list" %}',
            pautaListUrl: '{% url "pauta_list_json" %}',
            pautaStatusUpdateUrl :'{% url "pauta_status_update_json" %}'
        });

        angular.module('pautaApp').value("contextData", {
            listStatus: '{{ status|safe }}'
        });

    </script>

{% endblock %}