{% extends 'panel/panel_basev3.html' %}
{% load i18n %}
{% load common_tags %}
{% load crispy_forms_tags %}

{% block script_top %}
    <style>
        .fileupload-buttonbar{
            margin-left: 0px !important;
        }
        #commercial {
            height: 100%;
        }
        iframe{
            border: 0px;
        }
    </style>

    {% include 'panel/model/section_create/fileupload/head.html' %}
{% endblock %}

{% block script_menu %}

    <ul class="breadcrumb" id="menuModel">
        <li class="active">
            <i class="icon-home home-icon active"></i>
            <a href="#profile">Modelo</a>
                <span class="divider">
                	<i class="icon-angle-right arrow-icon"></i>
                </span>
        </li>
        <li class="active" id="modelActive"></li>
    </ul><!--.breadcrumb-->
{% endblock %}
{% for message in messages %}
    <div class="alert  alert-{{ message.tags }} messages">
        <a class="close" data-dismiss="alert" href="#">×</a>
        <p>{% autoescape off %}{{ message }}{% endautoescape %}</p>
    </div>
{% endfor %}
{% block content %}
<div ng-app="modelApp" ng-cloak class="ng-cloak">

    <div >
        <div id="user-profile-2" class="user-profile row-fluid">
        <div class="tabbable">
        <ul class="nav nav-tabs padding-18">
            <li class="active">
                <a data-toggle="tab" href="#home">
                    <i class="green icon-user bigger-120"></i>
                    Profile
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#feed">
                    <i class="orange icon-edit bigger-120"></i>
                    Carracteristicas
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#friends">
                    <i class="blue icon-picture bigger-120"></i>
                    Fotos
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#videos">
                    <i class="pink icon-camera bigger-120"></i>
                    Videos
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#commercial">
                    <i class="red icon-group bigger-120"></i>
                    Comerciales
                </a>
            </li>
        </ul>

        <div class="tab-content no-border padding-24">
        <div id="home" class="tab-pane in active">
            <div class="row-fluid">
                {% include 'panel/model/section_create/profile.html' %}
            </div><!--/row-fluid-->
        </div><!--#home-->

        <div id="feed" class="tab-pane">
            <div class="profile-feed row-fluid">
                {% include 'panel/model/section_create/features.html' %}
            </div><!--/row-->
        </div><!--/#feed-->

        <div id="friends" class="tab-pane">
            <div class="profile-users clearfix">
                {% include 'panel/model/section_create/photos.html' %}
            </div>
        </div><!--/#friends-->

        <div id="videos" class="tab-pane">
            {% include 'panel/model/section_create/photos.html' %}
        </div><!--/#pictures-->

        <div id="commercial" class="tab-pane">
            {% if pk %}
                <iframe src="{% url "model_commercial_list" id %}" scrolling="no" height="100%" width="100%"></iframe>
            {% endif %}
        </div><!--/#pictures-->

        </div>
        </div>
    </div>
</div>
</div>
{% endblock %}


{% block script_bottom %}
    <script src="{{ STATIC_URL }}js/angular.js"></script>
    {% include 'panel/model/section_create/fileupload/scripts.html' %}
    <script src="{{ STATIC_URL }}js/apps/commons/directives/messages.js"></script>
    <script src="{{ STATIC_URL }}js/apps/model_profile/app.js"></script>
    <script src="{{ STATIC_URL }}js/apps/model_profile/services/model.js"></script>
    <script src="{{ STATIC_URL }}js/apps/model_profile/controllers/controller.js"></script>
    <script src="{{ STATIC_URL }}js/apps/model_profile/factories/factory.js"></script>
    <script>
    // search urls
    angular.module('modelApp').value("modelUrls", {
        save_model: '{% url "panel_model_save_profile" %}',
        update_model: '{% url "panel_model_update_profile" pk=':pk' %}',
        save_feature: '{% url "panel_model_save_feature" pk=':pk' %}',
        update_feature: '{% url "panel_model_update_feature" pk=':pk' %}',
        delete_feature: '{% url "panel_model_delete_feature"  %}',
        urlCountries: '{% url "country_list_json" %}',
        urlSearch: '{% url "panel_information_model" pk=':pk' %}',
        urlCommercial: '{% url "model_commercial_list" key=':key' %}',
        urlDeletePicture: '{% url "panel_model_delete_picture" pk=':pk' %}'
    });
    // search urls
    angular.module('modelApp').value("modelData", {
        docTypes: '{{ doc_types|safe }}',
        genders: '{{ genders|safe }}',
        features: '{{ features|safe }}',
        pk: '{{ pk|safe }}'
    });
    angular.module('modelApp').constant("DjangoConstants", {
        csrfToken: "{{ csrf_token }}"
    });
    </script>

    <script>
        $(document).on('ready', function(){
            $('.content-tab').hide();
            $('#profile').show();

            $('#menuModel li a').on('click', function(e){
                e.preventDefault();
                $('.content-tab').hide(500);
                var content = $(this).attr('href');
                $(content).show(500);
            });
        });
    </script>
{% endblock %}