{% extends 'website/website_base.html' %}
{% load crispy_forms_tags %}

{% block extra_style %}

    <style>
        .icon-id_password:before {
            content: "\f023";
        }
        .icon-id_re_password:before {
            content: "\f023";
        }
        .form-horizontal .control-group {
            margin-bottom: 0px !important;
        }

    </style>
{% endblock %}

{% block content %}

    <div class="row-fluid">
        <div class="position-relative">
            <div id="forgot-box" class="forgot-box visible widget-box no-border">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="icon-key"></i>
                    Recuperar contraseña
                </h4>

                <div class="space-6"></div>
                <p>
                    Ingrese su nueva contraseña
                </p>

                <form method="post" action="" class="form-horizontal">
                <fieldset>
                    {% csrf_token %}
                    {% crispy form %}


                    <div class="clearfix">
                        <button class="width-35 pull-right btn btn-small btn-danger">
                            <i class="icon-lightbulb"></i>
                            Grabar!
                        </button>
                    </div>
                </fieldset>
                </form>
            </div><!--/widget-main-->

            <div class="toolbar center">
                <a href="{% url "home" %}"  class="back-to-login-link">
                    Regresar a Login
                    <i class="icon-arrow-right"></i>
                </a>
            </div>
        </div><!--/widget-body-->
    </div><!--/forgot-box-->
        </div><!--/position-relative-->
    </div>
{% endblock %}


{% block script_bottom %}

    <!--basic scripts-->

    <!--[if !IE]>-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!--<![endif]-->

    <!--[if IE]>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <![endif]-->

    <!--[if !IE]>-->

    <script type="text/javascript">
        window.jQuery || document.write("<script src='{{ STATIC_URL }}admin/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
    </script>

    <!--<![endif]-->

    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='{{ STATIC_URL }}admin/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
    </script>
    <![endif]-->

    <script type="text/javascript">
        if("ontouchend" in document) document.write("<script src='{{ STATIC_URL }}admin/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="{{ STATIC_URL }}admin/js/bootstrap.min.js"></script>

    <!--page specific plugin scripts-->

    <!--ace scripts-->

    <script src="{{ STATIC_URL }}admin/js/ace-elements.min.js"></script>
    <script src="{{ STATIC_URL }}admin/js/ace.min.js"></script>

    <!--inline scripts related to this page-->

    <script type="text/javascript">
        function show_box(id) {
            $('.widget-box.visible').removeClass('visible');
            $('#'+id).addClass('visible');
        }
    </script>
{% endblock %}
