{% extends 'website/website_base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}


    <div class="page-header">
            <h2>{% trans "Nuevo Modelo:" %}</h2>
    </div>

      <form method="post" action="" class="form-horizontal">
          {% csrf_token %}
          {% crispy form %}
        <div id="div_phone" class="clearfix control-group">
          {% for field in model_phone_form %}
                {{ field.errors }}
                {{ field.label_tag }}
                <div class="controls" style="padding-top: 20px">
                {{ field }}
                </div>
        {% endfor %}
        </div>
        {{ criterion_form }}
          <div class="form-actions">
               <a class="btn" href="{% url "home" %}">{% trans 'Cancel' %}</a>
               <input type="submit" class="btn btn-inverse" value="{% trans 'Crear' %}" />
          </div>
       </form>
{% endblock %}

{% block script_bottom %}
    <script>
    $(document).on('ready',function(){
        $('#div_phone > label').addClass('control-label');
        $('#div_phone > label').attr("style","padding-top: 20px");
    });
    </script>

{% endblock %}