<span id="lineCasting" ng-show="lineCasting">
        <div class="control-group info">
            <label class="control-label" for="inputInfo">Tipo de casting</label>
            <div class="controls">
                <span class="span6 input-icon input-icon-right">
                    <select id="chosenBrand" multiple="multiple" class="form-control"
                            ng-model="project_service.typeCasting"
                            ng-options="type.name for type in typeCasting">
                        <option value="">-- Elige un tipo de casting --</option>
                    </select>
                </span>
                <span class="span6">
                </span>
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label" for="inputInfo">Realizacion</label>
            <div class="controls">
                    <span class="span6 input-icon input-icon-right">
                        <input class="span12" type="text" date-picker id="inputRealized"  ng-model="project_service.realized" placeholder="dd/mm/yy"/>
                    </span>
                    <span class="span6">
                    </span>
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label" for="inputInfo">PPI</label>
            <div class="controls">
                <span class="span6 input-icon input-icon-right">
                    <input class="span12" type="text" date-picker id="inputPpi"  ng-model="project_service.ppi" placeholder="dd/mm/yy"/>
                </span>
                <span class="span6">
                </span>
            </div>
        </div>
        <div class="control-group info">
            <label class="control-label" for="inputInfo">PPG</label>
            <div class="controls">
                <span class="span6 input-icon input-icon-right">
                    <input class="span12" type="text" date-picker id="inputPpg"  ng-model="project_service.ppg" placeholder="dd/mm/yy"/>
                </span>
                <span class="span6">
                </span>
            </div>
        </div>
    </span>