<div class="tab-pane" id="features" ng-controller="FeatureController">

    <h2>{[{ model.code }]}</h2>

    <div class="accordion" id="accordion2">

        <div class="accordion-group" ng-repeat="feature in features">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse{[{ feature.feature_id }]}">
                    {[{ feature.feature_name }]} :
                </a>
            </div>
            <div id="collapse{[{ feature.feature_id }]}" class="accordion-body collapse">
                <div class="accordion-inner">
                    <form class="form-horizontal">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Color de cabello</label>
                            <div class="controls">
                                <select ng-model="feature_value" ng-options="value.value_name for value in feature.feature_values" ng-change="save_model_feature(feature_value)">
                                    <option value="">-- choose value --</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>
</div>