{% extends 'panel/panel_basev3.html' %}
{% load i18n %}

{% block extra_style %}
    <style>
        .tools{
            float: right !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-header">
        <div class="tools">
            <a href="{% url "admin_group_create" %}" class="btn btn-success">
                <i class="icon-plus icon-white"></i> {% trans 'Nuevo Usuario' %}</a>
        </div>
        <h2>{%  trans 'Usuarios' %}</h2>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{% trans 'Username' %}</th>
                <th>{% trans 'Name complete' %}</th>
                <th>{% trans 'Email' %}</th>
                <th>{% trans 'Last login' %}</th>
                <th>{% trans 'Opciones' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in object_list %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.last_login }}</td>
                    <td><a href="{% url "admin_user_group_detail" user.pk %}">Group</a> | Editar | Eliminar</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
{% endblock %}