{% extends 'panel/panel_basev3.html' %}
{% load common_tags %}
{% load i18n %}

{% block extra_style %}
    <style>
        .tools{
            float: right !important;
        }
    </style>
{% endblock %}

{% block script_menu %}
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="{% url "dashboard_view" %}">Home</a>
			    <span class="divider">
				    <i class="icon-angle-right arrow-icon"></i>
				</span>
        </li>
        <li>
            <i class="icon-cog home-icon"></i>
            <a href="{% url "admin_settings" %}">Settings</a>
			    <span class="divider">
				    <i class="icon-angle-right arrow-icon"></i>
				</span>
        </li>
        <li>
            <i class="icon-group home-icon"></i>Support
        </li>
    </ul><!--.breadcrumb-->

{% endblock %}


{% block content %}
    <div class="page-header">
        <div class="tools">
        </div>
        <h2>{%  trans 'Soporte' %}</h2>
    </div>
    <div class="row-fluid">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>{% trans 'Usuario' %}</th>
                <th>{% trans 'Comentario' %}</th>
                <th>{% trans 'Fecha de reporte' %}</th>
                <th>{% trans 'Opciones' %}</th>
            </tr>
            </thead>
            <tbody>
            {% for support in object_list %}
                <tr>
                    <td>{{ support.user.username }}</td>
                    <td>{{ support.text }}</td>
                    <td>{{ support.created }}</td>
                    <td><a href="{% url "admin_user_support_complete" support.id %} ">Revisado</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% url 'admin_user_support_list' as page_url %}
        {% pagination_ctl page_obj url=page_url url_args=search_url_params %}
    </div>
{% endblock %}

{% block script_bottom %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.js"></script>
{% endblock %}